/* Główna struktura strony */
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #e0e0e0; /* Tło całej strony */
}

/* Stopka górna z przyciskami */
.top-footer {
  display: flex;
  flex-wrap: wrap; /* Umożliwia zawijanie przycisków na nowy rząd */
  justify-content: center; /* Centruje przyciski w poziomie */
  align-items: center; /* Centruje przyciski w pionie */
  background-color: white;
  color: black; /* Zmieniamy na czarny, żeby tekst był widoczny na białym tle */
  padding: 10px 20px; /* Zmniejszony padding */
  width: 100%;
  background-color: #e0e0e0; /* Tło w stopce górnej */
}

/* Kontener mapy */
.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  margin: 10px;
  overflow: hidden;
  padding: 0 0px;
  border-radius: 20px;  /* Zaokrąglamy rogi */
  box-sizing: border-box;
}

/* Stopka dolna */
.bottom-footer {
  background-color: #e0e0e0; /*Tło*/
  color: black; /*teskt*/
  text-align: center;
  padding: 5px 20px;
  font-size: 18px;
  width: 100%;
}