/* Główna struktura strony */
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* Stopka górna z przyciskami */
.top-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: white;
  padding: 20px 0;
  width: 100%;
}

/* Styl przycisków w stopce */
.footer-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Stylizacja przycisku po najechaniu myszką */
.footer-button:hover {
  background-color: #0056b3;
}


/* Kontener mapy */
.map-container {
  flex: 1; /* Wypełnia przestrzeń między stopkami */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 20px; /* Zaokrąglone rogi */
  margin: 10px; /* Przerwy między stopkami */
  overflow: hidden; /* Ukrywa wszystko poza obszarem mapy */
}

.map-content {
  width: 100%;
  height: 100%;
}

/* Stopka dolna */
.bottom-footer {
  background-color: white;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  width: 100%;
}
