.map-buttons {
    position: absolute;
    z-index: 1000;   /* Zapewnia, że przyciski będą na wierzchu */
    padding: 10px;
    border-radius: 5px;
    display: block;
    pointer-events: none;
}

.map-buttons * {
    pointer-events: auto;
}

.map-button {
    padding: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 5px 8px 5px 0;
}

.map-button:hover {
    background-color: #45a049;
}


.location-input {
    display: inline;
    margin-top: 10px;
    height: 7.5%;
    padding: 8px 16px;
    margin-right: 8px;
}

